#-------------------------------------------------------------------------------
# Copyright (c) 2022, Arm Limited. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-------------------------------------------------------------------------------


########{{utilities.donotedit_warning}}########

set(CONFIG_TFM_CONNECTION_BASED_SERVICE_API {{config_impl['CONFIG_TFM_CONNECTION_BASED_SERVICE_API']}} CACHE BOOL "Enable connection based service API")

set(CONFIG_TFM_FLIH_API     {{config_impl['CONFIG_TFM_FLIH_API']}} CACHE BOOL "Enable FLIH API")
set(CONFIG_TFM_SLIH_API     {{config_impl['CONFIG_TFM_SLIH_API']}} CACHE BOOL "Enable SLIH API")
